# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/

# Platform-specific build artifacts
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties

# OS files
.DS_Store
Thumbs.db
